/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
  background-image: url("images/food_background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1.5px;
}
/* Header */
#verticalLine {
  width: 5px;
  height: 750px;
  position: relative;
  right: 10px;
  float: left;
  border-right: 2px solid black;
}
#hr {
  width: 100%;
  border-bottom: 2px solid black;
  margin: 25px auto 10px auto;
  position: relative;
}
#headerContainer {
  background-image: url("images/header.png");
  background-attachment: fixed;
  background-size: auto;
  height: 165px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid slategray;
  border-radius: 2px;
}
#logo {
  width: 150px;
  height: 150px;
  border: 1px solid slategray;
  border-radius: 2px;
  position: absolute;
  padding: 5px;
}
#headerText {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}
#navItem:hover {
  background-color: darkred;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  color: white;
}
/* ------------------------------------------- */
/* Bio */
#bioBackground {
  margin: 25px 75px 25px 15px;
  width: 300px;
  height: fit-content;
  width: fit-content;
}
.sectionBackground {
  background-image: url("images/header.png");
  height: fit-content;
  width: fit-content;
  border: 1px solid slategray;
  border-radius: 2px;
  float: left;
  padding: 40px;
  margin-top: 25px;
}
p,
h2,
h1,
h3,
button,
li,
ul,
label,
h4 {
  font-family: "Montserrat", sans-serif;
}
/* ------------- */
/* Specials */
#specialsImg {
  height: 125px;
  width: 175px;
  border: 1px solid black;
  border-radius: 5px;
}
.mainFooter {
  background-image: url("images/header.png");
  position: relative;
  margin-top: 800px;
  width: 100%;
  height: 150px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  clear: both;
  border: 1px solid black;
  border-radius: 5px;
}
.mainFooter2 {
  background-image: url("images/header.png");
  position: relative;
  margin-top: 400px;
  width: 100%;
  height: 150px;
  padding-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
  clear: both;
  border: 1px solid black;
  border-radius: 5px;
}
/* Menu */
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
.crys {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid #022b3a;
  border-radius: 20px;
}
#imageBox {
  float: left;
  margin: 45px;
  border-radius: 20px;
}
#imageBox:hover {
  background-color: darkgray;
  cursor: pointer;
  box-shadow: 5px 10px 15px black;
}
#menuTitle {
  text-align: center;
  font-size: 40px;
}
#specialsBackground {
  background-image: url("images/header.png");
  width: 80%;
  height: fit-content;
  border: 1px solid slategray;
  border-radius: 2px;
  float: left;
  padding: 40px;
  margin: 25px auto auto 200px;
}

#menuBody {
  padding: 40px;
}
#menuItem {
  margin: 50px;
}
#container {
  background-image: url("images/header.png");
  margin: 25px auto;
  width: 1000px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: black;
  line-height: 40px;
  letter-spacing: 1.5px;
  padding: 20px;
}
#orderFormContainer {
  background-image: url("images/header.png");
  width: 80%;
  height: fit-content;
  position: relative;
  margin: 25px auto 25px 200px;
  border: 1px solid black;
  float: left;
}
#contactInfo {
  margin-left: 50px;
  font-size: 20px;
}
#grandOpening {
  height: 550px;
  width: 475px;
}
#profileImage {
  height: 200px;
  width: 200px;
  float: left;
  margin: 20px;
  border: 1px solid black;
}
#submitBttn {
  background-color: lightgrey;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
#hiddenLink {
  position: fixed;
  bottom: 115px;
  left: 5px;
  height: 50px;
  width: 50px;
}
#hiddenInputDiv,
#hiddenInputDiv2 {
  margin: 20px auto;
}
#menuInput {
  width: 500px;
  height: 30px;
}
#menuInput2 {
  width: 500px;
  height: 100px;
}
#specialsTitle {
  margin: 15px auto 15px 25px;
}
#specialsDescription {
  margin: 15px auto 15px 25px;
}
#price {
  margin: 15px auto 15px 25px;
}
#messageCenter {
  background-image: url("images/header.png");
  height: fit-content;
  width: 75%;
  padding: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 15px 20px 25px rgb(90, 11, 27);
  margin: auto;
}
#orderTitle {
  text-align: center;
}
#orderInstruction {
  text-align: center;
  font-size: 18px;
  color: crimson;
}
#submitOrder,
#clearTotal {
  background-color: lightgrey;
  width: 150px;
  margin-left: 25px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.removeBttn {
  background: unset;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
}
.menuItem {
  font-size: 22px;
}
#addAddress,
#addContact {
  background-color: lightgrey;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
#total {
  width: 150px;

  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  margin-right: 25px;
}
#imageTitle {
  text-align: center;
}
#email,
#contact {
  color: crimson;
}
#spacer {
  margin-bottom: 25px;
}
/* -------------------------------------- */
#modalContainer {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  /* background-image: url("images/logo.jpg"); required by MSIE to prevent actions on lower z-index elements */
}
#alertBox {
  position: relative;
  width: 300px;
  min-height: 100px;
  margin-top: 50px;
  border: 1px solid #666;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 20px 30px;
}
#modalContainer > #alertBox {
  position: fixed;
}
#alertBox h1 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  background-color: darkred;
  color: #fff;
  border-bottom: 1px solid #000;
  padding: 2px 0 2px 5px;
}
#alertBox p {
  font: 0.7em verdana, arial;
  height: 50px;
  padding-left: 5px;
  margin-left: 85px;
}
#alertBox #closeBtn {
  display: block;
  position: relative;
  margin: 5px auto;
  padding: 7px;
  border: 0 none;
  width: 70px;
  font: 0.7em verdana, arial;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: darkred;
  border-radius: 5px;
  text-decoration: none;
}
/* ------partners--------- */
#font {
  font-family: "Montserrat", sans-serif;
}
.partnersBackground {
  background-image: url("images/header.png");
  width: 75%;
  height: fit-content;
  border: 1px solid slategray;
  border-radius: 2px;
  float: left;
  padding: 40px;
  margin: 25px auto auto 175px;
}
#partnerObject {
  margin: 50px 15px 50px 15px;
}
/* --------- */
/* Resposivness */
@media (max-width: 550px) {
  #responsiveContainer {
    width: inherit;
  }
  #headerText {
    margin-left: 125px;
    font-size: 35px;
  }
  .sectionBackground {
    margin-bottom: 25px;
  }
  #specialsBackground {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #orderFormContainer {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #container {
    width: inherit;
  }
  #logo {
    width: 100px;
    height: 100px;
    margin: 0px;
  }
  #navItem {
    margin-right: -10px;
  }
  #mainBodyContent {
    width: inherit;
    padding: 5px;
  }
  #contactInfo {
    width: inherit;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    padding: 0px;
  }
  #profileImage {
    width: 150px;
    height: 150px;
    margin-left: 0px;
    padding: 0px;
  }
  .mainFooter2 {
    position: relative;
    margin-top: 100px;
    height: fit-content;
  }
  #hiddenLink {
    position: relative;
    top: 250px;
    left: 0px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
  .crys {
    width: 125px;
    height: 125px;
  }
  .partnersBackground {
    width: inherit;
    position: relative;
    right: 180px;
  }
}
/* @media (max-width: 850px) {
  #grandOpening {
    height: 50px;
    width: 25px;
  }
  #responsiveContainer {
    width: inherit;
  }
  #headerText {
    margin-left: 125px;
  }
  .sectionBackground {
    margin-bottom: 25px;
  }
  #specialsBackground {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #orderFormContainer {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #container {
    width: inherit;
  }
  #navItem {
    margin-right: -10px;
  }
  #mainBodyContent {
    width: inherit;
    padding: 5px;
  }
  #contactInfo {
    width: inherit;
    margin-left: -5px;
    margin-bottom: 0px;
  }
  #profileImage {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
  .mainFooter2 {
    position: relative;
    margin-top: 100px;
  }
  #hiddenLink {
    position: relative;
    top: 250px;
    left: 0px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
} */
@media (max-width: 1250px) {
  #grandOpening {
    width: 350px;
    height: 400px;
  }

  #responsiveContainer {
    width: inherit;
  }
  #headerText {
    margin-left: 125px;
  }
  .sectionBackground {
    margin-bottom: 25px;
  }
  #specialsBackground {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #orderFormContainer {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #container {
    width: inherit;
  }
  #navItem {
    margin-right: -10px;
  }
  #mainBodyContent {
    width: inherit;
    padding: 5px;
  }
  #contactInfo {
    width: inherit;
    margin-left: -5px;
    margin-bottom: 0px;
  }
  #profileImage {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
  .mainFooter2 {
    position: relative;
    margin-top: 100px;
  }
  #hiddenLink {
    position: relative;
    top: 250px;
    left: 0px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
}
@media (max-width: 1450px) {
  #responsiveContainer {
    width: inherit;
  }
  #bioBackground {
    width: fit-content;
    height: fit-content;
  }
  #headerText {
    margin-left: 125px;
  }
  .sectionBackground {
    margin-bottom: 25px;
  }
  #specialsBackground {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #orderFormContainer {
    width: inherit;
    position: relative;
    margin-left: 0px;
  }
  #container {
    width: inherit;
  }
  #navItem {
    margin-right: -10px;
  }
  #mainBodyContent {
    width: inherit;
    padding: 5px;
  }
  #contactInfo {
    width: inherit;
    margin-left: -5px;
    margin-bottom: 0px;
  }
  #profileImage {
    width: 150px;
    height: 150px;
    margin-left: 0px;
  }
  .mainFooter2 {
    position: relative;
    margin-top: 100px;
  }
  #hiddenLink {
    position: relative;
    top: 250px;
    left: 0px;
    width: 30px;
    height: 30px;
    z-index: 100;
  }
}
